table {
    border-collapse: collapse;
    width: 100%;
  }
  
td {
text-align: center; 
}

td input[type="checkbox"] {
display: block; 
margin: 0 auto; 
}

.crudButton {
    text-align: right;
}

body {
    background-color: #f2f2f2;
  }


.col-1,
.col-9 {
background-color: #e6e6e6;
margin: 0px;
padding: 10px;
border: 1px solid black;
}

.table {
background-color: #f2f2f2;
margin: 20px;
}





  
  